---
---

@import "{{ site.theme }}";
.wwdg{
  font-size:100pt;
}

.page-header { 
  background-image: url(https://chafear.github.io/WineWithDiscount/wine4.png);
  height: 100vh;
}
@media only screen and (max-device-width: 600px) {
.page-header{
  background-image: url(https://chafear.github.io/WineWithDiscount/wine_small.png);
  background-size: 100% 100%;
  widtch:100%;
  height: 1200px;
}
}

.im{
  height:100%;
  width:100%;
}
body{
  background-color:#181818;
}
.main-content h2{
  color:#c6c6c6;
}
.page-header {
  background-color:#181818;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.main-content p {
    margin-bottom: 0em;
}
.news-content{
  font-weight: lighter;
}
